.tituloPrincipal{
    padding-left: 30px;
    display: inline;
}

nav{
    text-align: right;
    display: inline;
    margin-left: 550px;
}

nav li{
    display: inline;
    margin: 0 0 0 4px;
}

nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 10 px;
    text-decoration: none;
}

nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}

#banner{
    width: 100%;
}

.principal{
    background: #cccccc;
    padding: 20px;
}

.tituloCentralizado{
    text-align: center;  
}

p {
    text-align: center;
    background: #cccccc;
}

em strong{
    color: red;
}

#mision{
    font-size: 20px;
}

.diferenciales{
    background: #FFFFFF;
    padding: 30px;
}

.items{
    font-style: italic;
    font-size: 17px;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagenDiferenciales{
    width: 50%;
}

footer{
    text-align: center;
    background: url(imagenes/bg.jpg);
    padding: 40px;
}

.copyright{
    color: white;
    font-size: 13px;
    margin: 20px;
    background: none;
}